<div class="container" style="width: 400px;">


	<div class="search-wrapper card z-depth-2" style="margin-left: 10px;width: 400px;">
		<form action="/search" method="get">
			<input id="summoner" type="text" name="summoner" placeholder="Entrez un nom d'invocateur"><i class="material-icons">search</i>
			<div class="search-results"></div>
		</form>
	</div>

	

</div>