<div class="container" style="width: 400px;">

	<form action="/search" method="get">
		<div class="form-group">
			<input  class="form-control" id="summoner" type="text" name="summoner" placeholder="Entrez un nom d'invocateur">

		</div>
		
	</form>

</div>